body {
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

header{
text-align:center;
padding:40px;
background:#111;
color:white;
}

.projects{
display:grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
max-width:1100px;
margin:auto;
}

.card{
background:white;
border-radius:12px;
overflow:hidden;
text-decoration:none;
color:black;
box-shadow:0 10px 20px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.card h3{
padding:10px;
}

.card p{
padding:0 10px 20px;
color:#555;
}
